<%= form_for(@parking) do |f| %>
  <% if @parking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@parking.errors.count, "error") %> prohibited this parking from being saved:</h2>

      <ul>
      <% @parking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :isRack %><br>
    <%= f.check_box :isRack %>
  </div>
  <div class="field">
    <%= f.label :hours %><br>
    <%= f.text_field :hours %>
  </div>
  <div class="field">
    <%= f.label :Lat %><br>
    <%= f.text_field :Lat %>
  </div>
  <div class="field">
    <%= f.label :Lng %><br>
    <%= f.text_field :Lng %>
  </div>
  <div class="field">
    <%= f.label :Address %><br>
    <%= f.text_field :Address %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
