<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @parking.phone %>
</p>

<p>
  <strong>Israck:</strong>
  <%= @parking.isRack %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @parking.hours %>
</p>

<%= link_to 'Edit', edit_parking_path(@parking) %> |
<%= link_to 'Back', parkings_path %>
