<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @parking.name %>
</p>

<p>
  <strong>Racks:</strong>
  <%= @parking.racks %>
</p>

<p>
  <strong>Israck:</strong>
  <%= @parking.isRack %>
</p>

<p>
  <strong>Address:</strong>
  <%= @parking.address %>
</p>

<%= link_to 'Back', parkings_path %>
